html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 50px;
  text-align: center;
}

.click-button {
  margin: 10px;
}

.clear  {
  margin: 10px;
}

.set {
  margin: 10px;
}
